# Dictionary

Def.-Python Dictionary is like a map that is used to store data in the form of a key:value pair.It's immutable.
Syntax:-dictionary_name={key1:value1,key2:value2,...}

In [1]:
#key must be unique,immutable and value may be different or mutable.
d={'a':1,'b':2,'c':3,'b':5,'d':2}
d

{'a': 1, 'b': 5, 'c': 3, 'd': 2}

Basic operations and methods of dictionary

In [25]:
type(d)

dict

In [3]:
d.keys()#To see all keys of dictionary

dict_keys(['a', 'b', 'c', 'd'])

In [4]:
d.values()#To see all values of dictionary

dict_values([1, 5, 3, 2])

In [5]:
d.items()#retrieve all items with keys as well values

dict_items([('a', 1), ('b', 5), ('c', 3), ('d', 2)])

In [7]:
d1={"Name":"Mac","Age":23,"Branch":"MCA"}
d1

{'Name': 'Mac', 'Age': 23, 'Branch': 'MCA'}

In [9]:
d1["Name"]#access a value using their key

'Mac'

In [10]:
d2={[1,2,3]:6}   #key can't be mutable

TypeError: unhashable type: 'list'

In [11]:
d3={'l1':[1,2,3],'l2':[4,5,6]}   #value can be mutable
d3

{'l1': [1, 2, 3], 'l2': [4, 5, 6]}

In [12]:
d4={'l2':[4,5,6],'l1':[1,2,3]}
d4

{'l2': [4, 5, 6], 'l1': [1, 2, 3]}

In [13]:
d3==d4  #dictionary is a unordered  that's why we can't access using index here also ordered does't matter that's why return true.

True

In [15]:
#nested dictionary
d5={'a':{'a1':10,'a2':20},'b':40,'c':50}
d5

{'a': {'a1': 10, 'a2': 20}, 'b': 40, 'c': 50}

In [16]:
d5['a']

{'a1': 10, 'a2': 20}

In [18]:
#updating an element of dict
d5['b']="Raj"
d5

{'a': {'a1': 10, 'a2': 20}, 'b': 'Raj', 'c': 50}

In [19]:
#to access all the values using loop
for i in d5.values():
    print(i)

{'a1': 10, 'a2': 20}
Raj
50

In [20]:
#to access all the keys using loop
for i in d5.keys():#no need to put keys()
    print(i)

a
b
c

In [21]:
for i in d5:
    print(i)

a
b
c

In [22]:
#return all keys and values in seperate paranthasis
for i in d5.items():
    print(i)

('a', {'a1': 10, 'a2': 20})
('b', 'Raj')
('c', 50)

# Sets

Sets:-set is the collection of the unordered items. Each element in the set must be unique, immutable, and the sets remove the duplicate elements.
Set_Syntax:- Set_name={element1,element2,element3,...}

In [23]:
s1={1,2,5,3,8,5,7,8,9,4,5,3,8}
s1

{1, 2, 3, 4, 5, 7, 8, 9}

In [24]:
type(s1)

set

In [26]:
#define set using string
s=set('hello')
s

{'e', 'h', 'l', 'o'}

In [27]:
type(s)

set

Basics operations and methods

In [30]:
s2={5,4,7,8,3,1,2,9}
s2

{1, 2, 3, 4, 5, 7, 8, 9}

In [31]:
#Set is a unordered data structure that's why both are same
s1==s2

True

In [32]:
a=[3,5,6,7,8,9,6,4,3,0,1]
s=set(a)
a=list(s)
a

[0, 1, 3, 4, 5, 6, 7, 8, 9]

In [33]:
#We know that set is mutable but element of the set can't be mutable it means it contains only immutable type object
# And also set can't be nested
s3={1,2,5,[4,5,9]}

TypeError: unhashable type: 'list'

In [34]:
s2.add(10)#add an element in set
s2

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [35]:
s1

{1, 2, 3, 4, 5, 7, 8, 9}

In [36]:
#Union method
s1.union(s2)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [37]:
s1.intersection(s2)#intersection of s1 and s2

{1, 2, 3, 4, 5, 7, 8, 9}

In [38]:
for i in s2:
    print(i)

1
2
3
4
5
7
8
9
10