# List:-A list can have any number of items and they may be of different types (integer, float, string, etc.).A list can be nested.

In [21]:
l1=[3,5,76,4.34,'Raj']

In [22]:
print(l1)

[3, 5, 76, 4.34, 'Raj']

Basic operations & methods of List

In [23]:
l1[:-1]#slicing the list

[3, 5, 76, 4.34]

In [24]:
l1[1:5]

[5, 76, 4.34, 'Raj']

In [25]:
l1[0::2]

[3, 76, 'Raj']

In [26]:
#appending
l1.append(12)
l1

[3, 5, 76, 4.34, 'Raj', 12]

In [27]:
#popping last element
l1.pop()
l1

[3, 5, 76, 4.34, 'Raj']

In [28]:
#popping any specific index    Its similar to remove but pop() return a value(that removed) and remove does not return any value
l1.pop(3)

4.34

In [29]:
#remove any specific element ye same as pop but it not return anything but pop() return which element deleted and also it working on element but pop() working on index 
l1.remove(5)

In [30]:
#Updation of a list
l1[2]=200
l1

[3, 76, 200]

In [31]:
l1.append(2.3)
l1.append(40)
l1.append("Mac")

In [32]:
l1

[3, 76, 200, 2.3, 40, 'Mac']

In [33]:
#delete element from specific index to diff index
del l1[1:4]
l1

[3, 40, 'Mac']

In [38]:
l1=[23,45,70,'Mac',4.16,56]

In [39]:
l1[5]=[43,78,60,54]

In [40]:
# nested List
l1

[23, 45, 70, 'Mac', 4.16, [43, 78, 60, 54]]

In [42]:
#Access the element of lists
for i in l1:
    print(i)

23
45
70
Mac
4.16
[43, 78, 60, 54]

In [45]:
for i in range(len(l1)):
    print(l1[i])

23
45
70
Mac
4.16
[43, 78, 60, 54]

In [50]:
4 not in l1#it will return true if available in list o/w false
# 4 in l1

True

In [52]:
l1=[34,65,78,90,23,43,56]

In [53]:
min(l1)

23

In [54]:
max(l1)

90

In [58]:
sum(l1)

389

In [59]:
l1=[2,4,0,8,0]

In [60]:
all(l1)#all() function returns true if all the list items are true   (here false mean 0 and true means any elements except)

False

In [61]:
any(l1)# any() method returns true if any of the list items are true

True

In [62]:
sorted(l1)

[0, 0, 2, 4, 8]

In [63]:
str1="welcome"

In [64]:
#convert string to list
l3=list(str1)

In [65]:
l3

['w', 'e', 'l', 'c', 'o', 'm', 'e']

In [66]:
#count specific element of the list
l3.count('e')

2

In [67]:
# index method will return the index of the given element if elements are duplicate then it will return the index of the first element
l3.index('e')

1

In [74]:
l1

[25, 0, 100, 8, 0, 100, 4, 2]

In [75]:
l1.append(25) # does not return any values

In [76]:
#insert a element in a specific index
l1.insert(2,100)   #does not return any values

In [78]:
l1

[25, 0, 100, 100, 8, 0, 100, 4, 2, 25]

In [79]:
l1.reverse() #Does not return any values

In [80]:
l1

[25, 2, 4, 100, 0, 8, 100, 100, 0, 25]

In [81]:
l1.sort()  #Does not return any values

In [82]:
l1

[0, 0, 2, 4, 8, 25, 25, 100, 100, 100]

In [84]:
l2=[23,45,78,82,4,9]

In [85]:
# l2 extend into l1
l1.extend(l2)  #Does not return any values

In [86]:
l1

[0, 0, 2, 4, 8, 25, 25, 100, 100, 100, 23, 45, 78, 82, 4, 9]

NOTE:-append,insert,sort,reverse,remove,extend all methods only modify the list and do not return any values

# List Comprehensions

In [87]:
sq=[]
for i in range (1,11):
    sq.append(i**2)
print("Square of number from 1-10 is:",sq)

Square of number from 1-10 is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
sq=[i**2 for i in range(1,11)]
print("Square of number from 1-10 is:",sq)

Square of number from 1-10 is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [89]:
#Ninza technique🤩
cub=[i**3 for i in range(1,11)]
print(cub)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [90]:
#Program to combine two list using list comprehnsion
print([(x,y) for x in [12,23,21,20] for y in [10,12,16,28] if x!=y])   #Ninza technique for hackerrank

[(12, 10), (12, 16), (12, 28), (23, 10), (23, 12), (23, 16), (23, 28), (21, 10), (21, 12), (21, 16), (21, 28), (20, 10), (20, 12), (20, 16), (20, 28)]

In [94]:
print([(x,y) for x in range(2,20) for y in range(20,40) if y%x==0])

[(2, 20), (2, 22), (2, 24), (2, 26), (2, 28), (2, 30), (2, 32), (2, 34), (2, 36), (2, 38), (3, 21), (3, 24), (3, 27), (3, 30), (3, 33), (3, 36), (3, 39), (4, 20), (4, 24), (4, 28), (4, 32), (4, 36), (5, 20), (5, 25), (5, 30), (5, 35), (6, 24), (6, 30), (6, 36), (7, 21), (7, 28), (7, 35), (8, 24), (8, 32), (9, 27), (9, 36), (10, 20), (10, 30), (11, 22), (11, 33), (12, 24), (12, 36), (13, 26), (13, 39), (14, 28), (15, 30), (16, 32), (17, 34), (18, 36), (19, 38)]

In [95]:
#looping the list
lc1=[12,32,14,25,28]
s=0
for i in lc1:
    s=s+i  # or s+=1
print("Sum of all element is:",s)
print("Sum of all element is:",sum(lc1))

Sum of all element is: 111
Sum of all element is: 111

In [96]:
#enumerate the function it is mostly used to get index of the loop
for index, i in enumerate(lc1):
    print(i, "is at index:",index)

12 is at index: 0
32 is at index: 1
14 is at index: 2
25 is at index: 3
28 is at index: 4

In [97]:
# range() function
for i in range(len(lc1)):
    print("index : ",i)

index :  0
index :  1
index :  2
index :  3
index :  4

In [98]:
#iterator function
it=iter(lc1)
for i in range(len(lc1)):
    print("Element at index ",i,"is:",next(it))

Element at index  0 is: 12
Element at index  1 is: 32
Element at index  2 is: 14
Element at index  3 is: 25
Element at index  4 is: 28

In [99]:
# filter() function:-It contructs a list from those elements of the list for which a function return true.    
#syntax:- filter(function, sequence)
def check(x):
    if(x%2==0):
        return 1
even=list(filter(check, range(2,22)))   #after checking value receiving in  list
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [100]:
# map() function :-It applies a particular function to every element of the list.Its syntax is similar to filter function.
#syntax:-map(function, sequence)
def add_2(x):
    x+=2
    return x
lc2=[1,2,3,4,5,6,7,8]
print("Original list is:",lc2)
nlc2=list(map(add_2, lc2))
print("Updated list is:",nlc2)

Original list is: [1, 2, 3, 4, 5, 6, 7, 8]
Updated list is: [3, 4, 5, 6, 7, 8, 9, 10]